html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column  ;
  background-color: #dea300c2;
  background-image: url('/source/conheca-as-savanas-onde-ocorrem-quais-animais-e-plantas-ali-vivem.jpg.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}




h1 {
  color: orange;
  font-family:'Protest Revolution', sans-serif;
  font-size: 4rem;
}
h2 {
  color: orange;
  font-family:'Protest Revolution', sans-serif;
  display: inline;
}

.grid-container {
  text-align: center;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 1rem;
}

.grid-container button {
border: 1px solid orange;
  padding: 3rem;
  margin: 0.5rem;
  font-size: 3rem;
  color: transparent;
  border-radius: 1rem;
  background-color: rgba(167, 38, 38, 0.749);
  cursor: pointer;
  
}




.grid-container button:hover {
  background-color: orange;
  outline: none;
  transition: 0.3s ease-in;
   
}

.lives{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}



.lives button{
  background-color: transparent;
  color: orange;

 border: none;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}


footer h3{
  color: orange;
  font-size: 2rem;
  font-family:'Protest Revolution', sans-serif;
}


#logoGit {
  width: 10%;
}

#tiago1{
  text-decoration: none;
  color: orange;
  &:hover{
    color: rgb(255, 98, 0);
  }

}




#fabio1{
  text-decoration: none;
  color: orange;
  &:hover{
    color: rgb(255, 98, 0);
  }
}